---
Language: Cpp
BasedOnStyle: Microsoft

ColumnLimit: 80
FixNamespaceComments: false
PointerAlignment: Middle

NamespaceIndentation: All
NamespaceMacros:
    - TEST_CLASS
TypenameMacros:
    - TEST_METHOD
...
